{{render '@header--no-border'}}
<div class="site-content">  
  {{render '@herobanner--coloured-withbackground'}}
  {{render '@featuredproducts'}}
  {{render '@collections'}}
  {{render '@textimagesplit'}}
  {{render '@textimagesplit--textright'}}
  {{> '@footer'}}
</div>